Data Types and Structures Assignment Questions


Q1. What are data structures, and why are they important?

-> Data structures are specialized ways of organizing, storing, and managing data so that it can be accessed and modified efficiently. They are important because they directly affect the performance and efficiency of programs. Choosing the right data structure helps reduce time complexity, optimize memory usage, and make code easier to understand and maintain.

Q2. Explain the difference between mutable and immutable data types with examples.

-> The difference betweem mutable and immuatble data types is as follows:

Mutable data types are those whose values can be changed after creation, such as lists, dictionaries, and sets. Immutable data types cannot be altered once created, such as strings, tuples, and integers. For example, elements of a list can be modified, but characters in a string cannot be changed.

Q3. What are the main differences between lists and tuples in Python?

-> The main difference bwteen lists and tuples is that lists are mutable, meaning their elements can be changed, added, or removed, whereas tuples are immutable. Lists use square brackets [], while tuples use parentheses (). Tuples are generally faster and safer for storing fixed data, while lists are more flexible.

Q4. Describe how dictionaries store data.

-> Dictionaries store data in key–value pairs using a hash table structure. Each key is hashed to determine where the corresponding value is stored in memory, allowing very fast data retrieval.

Q5. Why might you use a set instead of a list in Python?

-> A set is used instead of a list when uniqueness of elements is required and when fast membership testing is needed. Sets automatically remove duplicate values and provide faster lookup than lists.

Q6. What is a string in Python, and how is it different from a list?

-> A string in Python is a sequence of characters enclosed in single quotes (' ') or double quotes (" "). It is used to represent text data.

A string is an immutable sequence of characters, whereas a list is a mutable collection that can store different data types. Unlike lists, strings cannot be modified after creation.

Q7. How do tuples ensure data integrity in Python?

-> Tuples ensure data integrity by being immutable. Once created, their contents cannot be changed, which prevents accidental modification of important data.

Q8. What is a hash table, and how does it relate to dictionaries in Python?

-> A hash table is a data structure that maps keys to values using a hash function.

Python dictionaries are implemented using hash tables, which allow fast insertion, deletion, and lookup operations.

Q9. Can lists contain different data types in Python?

-> Yes, lists in Python can store multiple data types such as integers, floats, strings, and even other lists within the same list.

Q10. Explain why strings are immutable in Python.

-> Strings are immutable to improve performance, memory efficiency, and security. Immutability allows Python to reuse string objects and avoid unintended changes.

Q11. What advantages do dictionaries offer over lists for certain tasks?

-> Dictionaries provide faster access to values using keys instead of index positions. They are ideal when data needs to be searched, retrieved, or updated using unique identifiers.

Q12. Describe a scenario where using a tuple would be preferable over a list.

-> Tuples are prefered over a list when storing fixed data such as coordinates, dates, or configuration values where modification is not allowed.

Q13. How do sets handle duplicate values in Python?

-> Sets automatically remove duplicate values, ensuring that each element appears only once.

Q14. How does the “in” keyword work differently for lists and dictionaries?

-> In lists, the "in" keyword checks for the presence of a value, whereas in dictionaries it checks for the presence of a key.


Q15. Can you modify the elements of a tuple? Explain why or why not.

-> No, tuple elements cannot be modified because tuples are immutable, ensuring data safety and integrity.

Q16. What is a nested dictionary, and give an example of its use case?

-> A nested dictionary is a dictionary inside another dictionary. It is commonly used to store structured data such as student records or employee details.

Q17. Describe the time complexity of accessing elements in a dictionary.

-> Accessing an element in a Python dictionary takes O(1) time on average (constant time). This is because dictionaries are implemented using a hash table, where the key is passed through a hash function that directly points to the memory location of the corresponding value.

Q18. In what situations are lists preferred over dictionaries?

-> Lists are preferred when order matters, when data is indexed numerically, or when duplicate values are allowed.

Q19. Why are dictionaries considered unordered, and how does that affect data retrieval?

-> Dictionaries are considered unoredered becausew dictionaries do not rely on index positions but on keys, so elements are not accessed sequentially. Data retrieval is still fast due to hashing.


Q20. Explain the difference between a list and a dictionary in terms of data retrieval.

-> The difference between lists and a dictionary is that Lists retrieve data using index positions, while dictionaries retrieve data using keys, making dictionaries faster for lookup operations.

Practical Question

In [1]:
#Q1.  Write a code to create a string with your name and print it

name = "Chandrachur"
print(name)

Chandrachur

In [2]:
#Q2. Write a code to find the length of the string "Hello World".

print(len("Hello World"))

11

In [3]:
#Q3.  Write a code to slice the first 3 characters from the string "Python Programming".

text = "Python Programming"
print(text[:3])

Pyt

In [4]:
#Q4. Write a code to convert the string "hello" to uppercase.

print("hello".upper())

HELLO

In [5]:
#Q5.  Write a code to replace the word "apple" with "orange" in the string "I like apple".

print("I like apple".replace("apple", "orange"))

I like orange

In [6]:
#Q6.  Write a code to create a list with numbers 1 to 5 and print it.

numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [7]:
#Q7. Write a code to append the number 10 to the list [1, 2, 3, 4].

lst = [1, 2, 3, 4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

In [8]:
#Q8.  Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

lst = [1, 2, 3, 4, 5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

In [9]:
#Q9.  Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

In [10]:
#Q10. Write a code to reverse the list [10, 20, 30, 40, 50].

lst = [10, 20, 30, 40, 50]
lst.reverse()
print(lst)

[50, 40, 30, 20, 10]

In [11]:
#Q11.  Write a code to create a tuple with the elements 100, 200, 300 and print it.

tup = (100, 200, 300)
print(tup)

(100, 200, 300)

In [12]:
#Q12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

In [13]:
#Q13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

nums = (10, 20, 5, 15)
print(min(nums))

5

In [14]:
#Q14.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

animals = ('dog', 'cat', 'rabbit')
print(animals.index('cat'))

1

In [15]:
#Q15.  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

fruits = ('apple', 'banana', 'orange')
print('kiwi' in fruits)

False

In [16]:
#Q16.  Write a code to create a set with the elements 'a', 'b', 'c' and print it.

my_set = {'a', 'b', 'c'}
print(my_set)

{'c', 'b', 'a'}

In [17]:
#Q17.  Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

In [18]:
#Q18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

In [20]:
#Q19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1 | set2)

{1, 2, 3, 4, 5}

In [21]:
#Q20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

print({1, 2, 3} & {2, 3, 4})

{2, 3}

In [22]:
#Q21.  Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

person = {"name": "John", "age": 25, "city": "NY"}
print(person)

{'name': 'John', 'age': 25, 'city': 'NY'}

In [23]:
#Q22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

data = {'name': 'John', 'age': 25}
data['country'] = 'USA'
print(data)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [24]:
#Q23.  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

info = {'name': 'Alice', 'age': 30}
print(info['name'])

Alice

In [25]:
#Q24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

data = {'name': 'Bob', 'age': 22, 'city': 'New York'}
data.pop('age')
print(data)

{'name': 'Bob', 'city': 'New York'}

In [26]:
#Q25.  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

data = {'name': 'Alice', 'city': 'Paris'}
print('city' in data)

True

In [27]:
#Q26. Write a code to create a list, a tuple, and a dictionary, and print them all.

lst = [1, 2, 3]
tup = (4, 5, 6)
dic = {'a': 1, 'b': 2}
print(lst, tup, dic)

[1, 2, 3] (4, 5, 6) {'a': 1, 'b': 2}

In [28]:
#Q27.  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
#result.(replaced)


import random
lst = random.sample(range(1, 101), 5)
lst.sort()
print(lst)

[17, 41, 42, 67, 78]

In [29]:
#Q28. Write a code to create a list with strings and print the element at the third index.

lst = ['apple', 'banana', 'orange', 'grape']
print(lst[2])

orange

In [30]:
#29. Write a code to combine two dictionaries into one and print the result.

dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
dict1.update(dict2)
print(dict1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [31]:
#30. Write a code to convert a list of strings into a set.

lst = ['apple', 'banana', 'orange', 'grape']
print(set(lst))

{'apple', 'grape', 'orange', 'banana'}